body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background:
    radial-gradient(
      circle farthest-corner at 50% 52.5%,
      rgba(14, 53, 92, 0.9) 0%,
      rgba(16, 14, 72, 0.7) 90%
    ),
    url("assets/3.jpg");
  background-size: cover;
  background-position: center;
  font-family: Inter, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  padding: 6px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.city-current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-current .city {
  font-size: 1.4em;
  letter-spacing: 0.5em;
  margin-top: 0.5em;
}

.city-current .current-temp {
  font-size: 6em;
  font-weight: 600;
  line-height: 0.9em;
}

.city-current .current-temp::after {
  content: "°";
}

.extra-info {
  display: flex;
  gap: 4em;
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 1em;
  padding: 1em 2em;
  border-top: 0.5px dashed white;
}
